h1 {
    color: white;
}
main {
    text-align: center;
}
body {
    background-color: rgba(17, 201, 63, 0.836);
}
#img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
#image {
    border: 5px solid #000000;
    border-radius: 5%;
    max-width: 100%;
    height: auto;
}
#tribute-info {
    border: 5px solid black;
    background-color: rgba(236, 236, 236, 0.767);
}
#info {
    background-color: aqua;
    margin: 100px;
    padding: 200px;
    text-align: left;
}
li {
    margin: 1em 0;
}
a:link {
    color: white;
}
a:visited {
    color: black;
}
