h1 {
    color: white;
}
main {
    text-align: center;
}
body {
    background-color: rgba(17, 201, 63, 0.836);
}
#image {
    border: 5px solid #000000;
    border-radius: 5%;
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}